<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> San Diego Trivia </h1>
   <strong>
     <%= question %>
   </strong>
   <br />
   <%= answer %>

   <br />
   <img src= <%= image %> alt="image" />
   <a href="/">Back</a>

  </body>
</html>
