<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> please input information</h1>
    <form action='/teams' method='post'>
      <div>
        <label>Team Name</label>
        <input type= 'text' name='teamname' />
      </div>
      <div>
        <label>Team player</label>
        <input type= 'text' name='players' />
      </div>
      <div>
        <label>Team wins</label>
        <input type= 'text' name='wins' />
      </div>
      <div>
        <label>Team loses</label>
        <input type= 'text' name='loses' />
      </div>
      <div>
        <input type='submit' value='Submit' />
      </div>
    </form>
  </body>
</html>
